[submodule "lIBFTTESTER"]
	path = lIBFTTESTER
	url = https://github.com/Tripouille/libftTester.git
[submodule "wARMACHINE"]
	path = wARMACHINE
	url = https://github.com/0x050f/libft-war-machine.git
	ignore = all
