[submodule "wARMACHINE"]
	path = wARMACHINE
	url = https://github.com/y3ll0w42/libft-war-machine
[submodule "lIBFTTESTER"]
	path = lIBFTTESTER
	url = https://github.com/Tripouille/libftTester.git
[submodule "wARMACHINE."]
	ignore = all
